 
<header class="header">
 <!-- Fixed navbar -->
 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">Keep Note</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']" >Note <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/category']">Category</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/remainders']">Remainder</a> 
      </li>
    </ul>
    <div class="mt-2 mt-md-0" style="color: #fff;">
      <!-- <a class="nav-link" [routerLink]="['/session/signup']">User Info</a> -->
      <button mat-icon-button aria-label="User Profile"  [routerLink]="['/profile']" style="width: 6em;">
        {{currentUser?.name}} <mat-icon>account_circle</mat-icon> 
      </button>
      <button mat-icon-button aria-label="Logout"   (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
      </button>
    </div>
  </div>
</nav>
</header>

<!-- Begin page content -->
<main role="main" class="container-fluid"> 
  <router-outlet></router-outlet> 
</main>

<footer class="footer">
<div class="container">
  <span class="text-muted">Place sticky footer content here.</span>
</div>
</footer>